{% extends "AppClub/base.html" %}


{% load static %}

        {% block contenidoVariable %}
        <aside class="text-right">
            <div class="container px-5">
                <div class="row gx-5 justify-content-right">
                    <div class="col-xl-11">
                        
                        <h2>&#x1f4ac ¿QUIÉNES SOMOS?<br></h2>
                        <br>
                        <h3>&#x2666<strong>Agustín Aguirre</strong></h3>
                        <p>Agustín tiene 25 años, es de la ciudad de Mercedes, Buenos Aires. Actualmente es estudiante y holder de Criptomonedas. Es apasionado por la música electrónica y el Rock Internacial.</p>
                        <h3>&#x2666<strong>Alan Gon</strong></h3>
                        <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:</p>
                        <h3>&#x2666<strong>Agustín Gutiérrez</strong></h3>
                        <p>Agustín tiene 29 años, es de la ciudad de Salsipuedes, Córdoba. Es Ingeniero Electrónico y actualmente trabaja como docente e investigador en la Universidad de la Defensa Nacional. Se considera un Cinéfilo y en pésimo deportista.</p>
                        <br>
                        <h2>&#x1f4bb NUESTRO SITIO<br></h2>
                        <br>
                        <p>Este sitio surgió como respuesta al pedido de Coderhouse de la entrega de un proyecto final en su curso web sobre Python. Se debía trabajar en equipo (3 o 4 estudiantes, asignados por el tutor), y crear una aplicación web libre programada en Python y utilizar Django, realizando todo lo aprendido en las clases dadas por el docente durante el curso. </p>
                        <p>Puedes leer más sobre los detalles del proyecto en el archivo README.MD en el repositorio de GitHub donde se encuentra almacenado. <a href="https://github.com/Alberick123/EntregaFinalCoder">Leer más...</a></p>
                    </div>
                </div>
            </div>
        </aside>
        {% endblock %}