{% extends "AppClub/base.html" %}


{% load static %}

  {% block contenidoVariable %}
  <aside class="text-right">
      <div class="container px-5">
          <div class="row gx-5 justify-content-right">
              <div class="col-xl-11">
                  <h1 class="mb-1">Editando formulario de la disciplina...</h1>
                  </br>
                  <form method="POST"> {% csrf_token %}
        
                  {{form.as_p}}
                  </br>
                  <button type="submit" class="btn btn-primary" >Enviar</button>
      
                </form>
              </div>
          </div>
      </div>
  </aside>

  {% endblock %}