{% extends "AppClub/base.html" %}
{% load static %}
{% block contenidoVariable %}
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <h1>Vista de la opción disciplinas.</h1>
            <div class="row gx-5 align-items-center">
                <img src="{% static 'AppClub/assets/img/deportes.jpg' %}" alt="MDN" style="max-width: 100%; height: 100%">
            </div>
        </div>
    </header>
    <!-- Quote/testimonial aside-->
    <aside class="text-center bg-gradient-primary-to-secondary">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    
                </div>
            </div>
        </div>
    </aside>
{% endblock %}





