{% extends "AppClub/base.html" %}


{% load static %}

{% block contenidoVariable %}
<aside class="text-right">
    <div class="container px-5">
        <div class="row gx-5 justify-content-right">
            <div class="col-xl-11">
              <h1 class="mb-1">Detalle de la  disciplina</h1>
              <p>Nombre de la disciplina: <i> {{ disciplina.nombre}}</i></p>
              <p>Sede: <i> {{ disciplina.sede}}</i></p>
              <p>Día del comienzo de la temporada: <i> {{ disciplina.dias_realizacion}}</i></p>
    
              <p>
                <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'List3' %}">  Volver</a></button>
              </p>
            </div>
        </div>
    </div>
</aside>

{% endblock %}

