{% extends "AppClub/base.html" %}
{% load static %}
{% block contenidoVariable %}
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <h1>Aquí puedes cargar una nueva disciplina</h1>
        </div>
    </header>
    <!-- Quote/testimonial aside-->
    <aside class="text-center">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    <div class="col-sm-11">
                    {{ form.as_table }}

                    <form action="disciplinas" method="POST"> {% csrf_token %}
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <input id="nombre" name="nombre" />
                            </div>
                            <label for="sede" class="col-sm-2 col-form-label">Sede</label>
                            <div class="col-sm-10">
                                <input id="sede" name="sede" />
                            </div>
                            <label for="dias_realizacion" class="col-sm-2 col-form-label">Fecha realizacion</label>
                            <div class="col-sm-10">
                                <input type="date" id="dias_realizacion" name="dias_realizacion" />
                            </div>

                            <div class="col-sm-2 col-form-label"></div>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
            </div>
        </div>
    </aside>

    <aside class="text-center">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    <h3><a href="/AppClub/disciplinas/list">Click aquí para modificar los datos cargados</a></h3>                    
                </div>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}





