{% extends "AppClub/base.html" %}


{% load static %}


        {% block contenidoVariable %}
        <aside class="text-right">
          <div class="container px-5">
              <div class="row gx-5 justify-content-right">
                  <div class="col-xl-11">
                    <h1 class="mb-1">Disciplinas del club:</h1> <br>
                      <ul>
                        {% for disciplina in object_list %}
                        
                        <li>

                          <p>NOMBRE: {{ disciplina.nombre}}</p>

                          <p>
                          <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'Detail3' disciplina.id %}">  Ver más</a></button>
                          <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'Edit3' disciplina.id %}">  Editar</a></button>
                          <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'Delete3' disciplina.id %}">  Borrar</a></button>

                        </p>

                        </li>

                        {% endfor %}



                      </ul>
                </div>
              </div>
          </div>
        </aside>

        {% endblock %}