{% extends "AppClub/base.html" %}


{% load static %}


        {% block contenidoVariable %}
        <aside class="text-right">
          <div class="container px-5">
              <div class="row gx-5 justify-content-right">
                  <div class="col-xl-11">
                    <h1 class="mb-1">Lista de estadios:</h1> <br>
                      <ul>
                        {% for estadio in object_list %}
                        
                        <li>

                          <p>NOMBRE: {{ estadio.nombre}}</p>

                          <p>
                          <a href="{% url 'Detail' estadio.id %}">Ver más</a>
                          <a href="{% url 'Edit' estadio.id %}">Editar</a>
                          <a href="{% url 'Delete' estadio.id %}">Borrar</a>

                        </p>

                        </li>

                        {% endfor %}
                      </ul>
                    </div>
                  </div>
              </div>
          </aside>

        {% endblock %}