{% extends "AppClub/base.html" %}


{% load static %}

{% block contenidoVariable %}
<aside class="text-right">
    <div class="container px-5">
        <div class="row gx-5 justify-content-right">
            <div class="col-xl-11">
                <h1 class="mb-1">Confirma el delete</h1>       
                    <form method="post"> {% csrf_token %}

                        ¿Estás seguro de borrar este estadio? &#128073 <b>"{{ object }}"</b>

                        <button type="submit" class="btn btn-primary" >Borrar</button>
                    </form>
            </div>
        </div>
    </div>
</aside>

{% endblock %}