{% extends "AppClub/base.html" %}


{% load static %}

  {% block contenidoVariable %}
  <aside class="text-right">
      <div class="container px-5">
          <div class="row gx-5 justify-content-right">
              <div class="col-xl-11">
                <h1 class="mb-1">Detalle del estadio</h1>
                </br>
                <p>Nombre del estadio: <i> {{ estadio.nombre}}</i></p>
                <p>Dirección del estadio: <i> {{ estadio.direccion}}</i></p>
                <p>Año de fundación: <i> {{ estadio.anioFund}}</i></p>
      
                  </br>
                  <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'List' %}">  Volver</a></button>      
                </p>
              </div>
          </div>
      </div>
  </aside>

  {% endblock %}