{% extends "AppClub/base.html" %}


{% load static %}

        {% block contenidoVariable %}
        <aside class="text-center">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="col-sm-11" >
                            <form action="" method="POST">
                                {% csrf_token %}
                                <form>
                                  <div class="mb-3">
                                    <table class="col-sm-8 table">
                                        {{ form.as_table }}
                                    </table>
                                      <div class="mb-3">
                                        <button type="submit" class="btn btn-primary col-sm-5">Iniciar sesión</button>
                                        <a class="nav-link" href="{% url 'Register' %}">  No estoy registrado</a>
                                      </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        {% endblock %}

