{% extends "AppClub/base.html" %}


{% load static %}


        {% block contenidoVariable %}
        <aside class="text-right">
          <div class="container px-5">
              <div class="row gx-5 justify-content-right">
                  <div class="col-xl-11">
                    <h1 class="mb-1">Plantel del club:</h1> <br>
                      <ul>
                        {% for jugador in object_list %}
                        
                        <li>

                          <p>NOMBRE: {{ jugador.nombre}}</p>

                          <p>
                            <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'Detail2' jugador.id %}">  Ver más</a></button>
                            <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'Edit2' jugador.id %}">  Editar</a></button>
                            <button class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3" href="{% url 'Delete2' jugador.id %}">  Borrar</a></button>

                          </p>

                        </li>

                        {% endfor %}



                      </ul>
                    
                  </div>
                </div>
            </div>
        </aside>

        {% endblock %}