{% extends "AppClub/base.html" %}


{% load static %}

        {% block contenidoVariable %}

        <aside class="text-center">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <table style="margin: 0 auto;">
                                    {{ form.as_table }}
                                </table>
                                </br>

                                <button type="submit">Registrarse</button>
                            
                            </form>

                    </div>
                </div>
            </div>
        </aside>

        {% endblock %}