{% extends "AppClub/base.html" %}


{% load static %}

        {% block contenidoVariable %}

        <section class="bg-gradient-primary-to-secondary" id="download">
            <div class="container px-5">
                <h2 class="text-right text-white font-alt mb-1"><I>Crea una cuenta de AppClub</I></h2>
                <h4 class="text-right text-white font-alt mb-1"><I>Es rápido y fácil</I></h4>
            </div>
        </section>

        <aside class="text-center">
            
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <table style="margin: 0 auto;">
                                    {{ form.as_table }}
                                </table>
                                </br>
                                </br>
                                <button type="submit" class="btn btn-primary"><a style="color:white" class="nav-link me-lg-3">  Registrarte</a>
                            
                            </form>

                    </div>
                </div>
            </div>
        </aside>

        {% endblock %}